body{
    background-color: black;
}

.cartao{
    background: url(../assets/background.png) no-repeat;
    font-family: monospace;
    width: 400px;
    height: 200px;
    background-size: cover;
    padding: 1px 20px;
    margin: auto;
    margin-top: 10%;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
}
.instagram{
    list-style-image: url(../assets/Insta.png);
}
.twitter{
    list-style-image: url(../assets/linkedin.png.png);   
}
.youtube{
    list-style-image: url(../assets/gmail.png.png);
}
